* body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  transition: 0.2s;
  font-family: "Teko", sans-serif;
  background-color: #1a1a1a;
}
*:focus {
  outline: none;
}
*::selection {
  text-decoration: none;
}

.header {
  height: 15vh;
  width: 100%;
  background-color: #1a1a1a;
  margin: 0px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-top: 0px;
}
.header p {
  position: relative;
  color: #ecf2f8;
  text-align: center;
  font-size: 5vh;
  letter-spacing: 3px;
  font-family: "Teko", sans-serif;
  margin: 0px;
  padding-top: 4vh;
}

.global {
  height: 85vh;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  overflow: hidden;
  color: #ecf2f8;
}
.trans {
  opacity: 0;
  transition: 0s;
}

.visible {
  opacity: 1;
  transition: 0.6s;
}
.invisible {
  opacity: 0;
  transition: 0.6s;
}

.config {
  flex-grow: 1;
  background-color: #1a1a1a;
  border: 3px solid #b026ff;
  margin-left: 1vw;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 33%;
}
.comments_header p {
  font-size: 30px;
  text-align: left;
  margin-left: 1vw;
}
.comments_header button {
  height: 30px;
  width: 30px;
  float: right;
  margin-right: 10px;
  border-radius: 12px;
}

.form-group {
  position: relative;
  padding-bottom: 40px;
}
.close-div {
  position: absolute;
  right: 2%;
  top: -5px;
}
.close-div button {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 12px;
  background-color: #ecf2f8;

  height: 30px;
  width: 30px;
}
.input-div {
  position: absolute;
  text-align: left;
  margin-left: 1vw;
}
.input-div input {
  height: 20px;
  border-radius: 12px;
  border: 0px;
  text-align: center;
}

.range {
  height: 2vh;
  -webkit-appearance: none;
  background: #ecf2f8;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px #000000;
  margin-top: 8vh;
  margin-left: 1vw;
  width: 70%;
  margin-right: 4vw;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #b026ff;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #b026ff;
}

.recomend {
  height: 20vh;
  color: #ecf2f8;
  min-width: 120px;
  text-align: center;
  font-size: 1em;
  font-weight: 4;
}

.range-div span {
  font-size: 30px;
}

.info {
  flex-grow: 1;
  background-color: #1a1a1a;
  border: 3px solid #b026ff;
  font-size: 30px;
  font-weight: 10px;
  max-width: 33%;
}

.table {
  width: 100%;
}
.table-info {
  width: 100%;
}
td {
  text-align: right;
  color: #ecf2f8;
}

th {
  text-align: left;
  color: #ecf2f8;
  letter-spacing: 2px;
}

#snackbar {
  visibility: hidden;  
  min-width: 250px;  
  margin-left: -125px;  
  background-color: #f30e34; 
  color: #fff;  
  text-align: center;  
  border-radius: 2px;   
  padding: 16px;   
  position: fixed;  
  z-index: 1; 
  left: 50%;  
  bottom: 30px;  
  font-weight: 3px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}



















.user {
  flex-grow: 1;
  background-color: #1a1a1a;
  border: 3px solid #b026ff;
  max-width: 33%;
}

.setup {
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.setup input,
button {
  color: #000000;
  background-color: #ecf2f8;
  font-size: 15px;
  border: 2px;
  border-radius: 12px;
  text-align: center;
  width: 60%;
}
.login {
  margin-top: 4vh;
  height: 20px;
}

.pass {
  margin-top: 4vh;
  height: 20px;
}

.hashtag {
  margin-top: 4vh;
  height: 20px;
}

.run {
  margin-top: 4vh;
}

.run:focus {
  background-color: #b026ff;
  transition: 0.5s;
  color: #ffffff;
}
